<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="index.js"></script>
	<meta charset="UTF-8">
	<title id="search-add-clients">El Tiburon | Buscar clientes</title>
	<link rel="stylesheet" href="index.css">
</head>

<body>

<div>
	<div class="changeState">
		<div class="sect-change sect-l">
			<button class="search-button" id="changeModeS">Buscar</button>
		</div>
		<div class="sect-change sect-r">
			<button class="add-button" id="changeModeA">Agregar</button>
		</div>
	</div>

	<div id="search-mode">

		<div class="mode-wrap">

			<div class="req-section">
				<div class="myReqInp cell-input">
					<label for="cellphone">Telefono</label>
					<input id="cellphone" type="text" placeholder="6681277878..">
				</div>

				<div class="myReqInp cell-input">
					<label for="nameClient">Nombre</label>
					<input disabled id="nameClient" type="text" placeholder="Juan..">
				</div>
			</div>

			<div class="req-section down-req">
				<div class="myReqInp direc-input">
					<label for="direction">Direccion</label>
					<input disabled id="direction" type="text" placeholder="calle colonia ....">
				</div>
			</div>


			<div class="accept-wraper">
				<button id="search-button">Buscar</button>
				<button id="apply-search">Aplicar</button>
			</div>


		</div>

	</div>

	<div id="add-mode">

		<div class="mode-wrap">

			<div class="req-section">
				<div class="myReqInp cell-input">
					<label for="cellphoneAdd">Telefono</label>
					<input id="cellphoneAdd" type="text" placeholder="6681277878..">
				</div>

				<div class="myReqInp cell-input">
					<label for="nameClientAdd">Nombre</label>
					<input id="nameClientAdd" type="text" placeholder="Juan..">
				</div>
			</div>

			<div class="req-section down-req">
				<div class="myReqInp direc-input">
					<label for="directionAdd">Direccion</label>
					<input id="directionAdd" type="text" placeholder="calle colonia ....">
				</div>
			</div>


			<div class="accept-wraper">
				<button id="registClien">Registrar</button>
			</div>


		</div>

	</div>
</div>


</body>
</html>