.buscarCliente{
    text-align: center;
    font-weight: bolder;
}

.input-padron{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50x;
    transform: translate(-50%, -50%);
    height: 30px;
}

.telClien{
    text-align: center;
    padding-top: 90px
    }

