html {
  height: 100%;
}

body {
  text-align: center;
  background-color: rgb(243, 239, 227);
  height: 100%;
}

.main-container {
  height: calc(100% - 24px);
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.4fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.products-side {
  width: 100%;
  grid-area: 1 / 1 / 6 / 5;
}

.right-panel {
  width: 100%;
  grid-area: 1 / 5 / 6 / 6;
	color: white;
	background-color: #212323;
	box-sizing: content-box;
	text-align: center;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.categories-bar {
	height: 10%;
	display: flex;
}

.categories-bar button {
	flex: 1;
	border: 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: #e7e7e7;
	background-color: #333333;

	transition-property: background-color, color;
	transition-duration: 0.1s;
}

.categories-bar button:hover {
	color: #fff;
	background-color: #3b3b3b;
}

.products-view-wrap {
	height: 90%; 
}

.products-view {
	max-height: 100%;
	min-height: auto;
	overflow-y: auto;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.products-view .prod-card {
	cursor: pointer;
	/* max-width: 100%; */
	min-width: 25%;
	/* flex: 1; */
	height: fit-content;
	background-color: #e7e7e7;
	color: #333333;
	/* height: 14rem; */
	transition-property: color, background-color;
	transition-duration: 0.2s;
}

.products-view .prod-card:hover {
	background-color: #f3f3f3;
	color: #000000;
}

.text-area-notes {
	resize: none !important;
}

.col-prd {
  margin: .2rem;
}

.prodCol {
  display: flex;
  justify-content: space-around;
}

h4 {
  font-size: 1.2rem;
}

.prd-view {
  flex-direction: row;
}

.title-product h2 {
  background-color: rgb(238, 234, 21);
  border: solid black .15rem;
  border-radius: 0.4rem;
  box-shadow: black .2rem .2rem 0rem;
}

.charge-column {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 12.5rem;
  overflow-y: scroll;
}

.inputs {
  width: 95.5%;
}

.form-check {
  font-size: 1.25rem;
}

.form-check-input {
  border: solid black .10rem;
}

.rec-tot-box {
	margin-top: 0.2rem;
  background-color: #383a3a;
	border-radius: 1rem;
	padding: 0.2rem;
}

.centri-rec-box {
  display: flex;
  justify-content: center;
}

.recount {
  overflow-y: auto;
  height: 10.5rem;
  padding-left: 1rem;
  padding-top: 0.7rem;
}

.recount p {
  line-height: .4rem;
}

.total {
  font-size: 3.7rem;
  width: 8ch;
  border: solid black .15rem;
  background-color: white;
}

.total-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rec-camb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-camb input {
  width: 9ch;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.boxes2 {
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

.changeButtons button {
  color: white;
  background-color: rgb(37, 37, 37);
}

.changeButtons button:hover {
  color: white;
  background-color: rgb(80, 77, 77);
}

.recount p {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.action-buttons {
  background-color: #383a3a;
  padding: 0.2rem 0rem 0.2rem 0rem;
  border-radius: 1rem;
	font-size: 1.2rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.form-group {
	width: 96%;
}

.label-side-panel {
	font-size: 1.5rem;
	background-color: #383a3a;
	padding: .2rem;
	border-radius: 1rem;
	width: 100%;
}

.header-l {
  padding: .2rem .2rem .2rem 2rem;
  background-color: #383a3a;
  border-radius: .2rem;
}

.envios {
  margin: 1rem 1rem 0.2rem 1rem;
}

.dir-req {
  display: flex;
  align-items: center;
}

.dir-req button {
  border-radius: 5px;
  padding: 3px;
  color: white;
  width: 20%;
}

.product-name-in-view {
  margin: 0 0 1px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-quantity-value {
	position: relative;
	top: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.product-quantity-value input {
	width: 6ch;
	text-align: center;
	font-size: 1.3rem;
}


@media (max-width: 1224px) {
	.action-buttons button {
		flex: 1;
	}
}


