* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
}

.all-content {
	height: calc(100% - 24px);
}

.categories-bar {
	height: 10%;
	display: flex;
	overflow-x: auto;
}

.categories-bar button {
	flex: 1;
	min-width: 9rem;

	border: 0;
	font-size: 1.2rem;
	font-weight: bold;
	color: #e7e7e7;
	background-color: #333333;

	transition-property: background-color, color;
	transition-duration: 0.1s;
}

.categories-bar button:hover {
	color: #fff;
	background-color: #3b3b3b;
}