<!DOCTYPE html>
<html lang="en">
<head>
  <!-- bootsrap -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- bootsrap -->
  <link rel="stylesheet" href="../styles/index.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Employes UI</title>
</head>
<body>
  <main class="container">




    <!-- FILA 1 -->
    <div class="prodCol col-12 text-center">

      <div id="burgers" class="col-4 m-1">
        <div class="title-product">
          <h2>Burgers</h2>
        </div>
        <div id="BurgersLoads" class="charge-column">

        </div>
      </div>

      <div id="pollo" class="col-4 m-1">
        <div class="title-product">
          <h2>Promos</h2>
        </div>
        <div id="PromosLoads" class="charge-column">
          
        </div>
      </div>

      <div id="papas" class="col-4 m-1">
        <div class="title-product">
          <h2>Papas</h2>
        </div>
        <div id="PapasLoads" class="charge-column">

        </div>
      </div>

    </div>
    <!-- fin FILA 1 -->

    <!-- FILA 2 -->
    <!-- <div class="prodCol text-center">

      <div id="burgers">
        <div class="title-product">
          <h2>prd</h2>
        </div>
      </div>

      <div id="pollo">
        <div class="title-product">
          <h2>prd</h2>
        </div>
      </div>

      <div id="papas">
        <div class="title-product">
          <h2>prd</h2>
        </div>
      </div>

    </div>
    <!-- FIN FILA 2 -->

    <!-- FILA 3 -->
    <div class="prodCol text-center">

      <div id="burgers">
        <div class="title-product">
          <h2>prd</h2>
        </div>
      </div>

      <div id="pollo">
        <div class="title-product">
          <h2>prd</h2>
        </div>

      </div>

      <div id="papas">
        <div class="title-product">
          <h2>prd</h2>
        </div>

      </div>

    </div>
    <!-- FIN FILA 3 -->




  </main>
</body>
<script src="./main-view-index.js"></script>
</html>