<!DOCTYPE html>
<html lang="en">
<head>
  <!-- bootsrap -->
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- bootsrap -->
  <link rel="stylesheet" href="../styles/index.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Employes UI</title>
</head>
<body>
  <main class="main-container">
    <div class="col-9 container">

      <!-- FILA 1 -->
      <div class="prodCol col-12 text-center">
  
        <div id="burgers" class="col-prd col-4 ">
          <div class="title-product">
            <h2>Burgers</h2>
          </div>
          <div id="BurgersLoads" class="charge-column">
  
          </div>
        </div>
  
        <div id="promos" class="col-prd col-4 ">
          <div class="title-product">
            <h2>Promos</h2>
          </div>
          <div id="PromosLoads" class="charge-column">
            
          </div>
        </div>
  
        <div id="papas" class="col-prd col-4 ">
          <div class="title-product">
            <h2>Papas</h2>
          </div>
          <div id="PapasLoads" class="charge-column">
  
          </div>
        </div>
  
      </div>
      <!-- fin FILA 1 -->
  
      <!-- FILA 2 -->
      <div class="prodCol col-12 text-center">

        <div id="burgers" class="col-prd col-4 ">
        <div class="title-product">
          <h2>Burgers</h2>
        </div>
        <div id="BurgersLoads" class="charge-column">
  
      </div>
      </div>
  
    <div id="promos" class="col-prd col-4 ">
        <div class="title-product">
          <h2>Promos</h2>
        </div>
        <div id="PromosLoads" class="charge-column">
        
        </div>
      </div>
  
    <div id="papas" class="col-prd col-4 ">
        <div class="title-product">
          <h2>Papas</h2>
        </div>
        <div id="PapasLoads" class="charge-column">
  
        </div>
      </div>
  
      <!-- fin FILA 2 -->
    </div>

    </div>

    <div class="totales col-3 rigth-panel">

        <div class="form-group">
          <h2>Notas</h2>
          <input type="text" class="form-control" id="notasInput" placeholder="Introduce aqui las notas del pedido....">
        </div>

        <div class="form-group">
          <h2>DIRECCION</h2>
          <input type="text" class="form-control" id="direccionInput" placeholder="Introduce aqui la direccion del pedido....">
        </div>

        <div class="envios">
          <h2>Envio</h2>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Recogen</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">$10</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">$15</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">$20</label>
          </div>
        </div>
        <div class="totaltexto"> 
          <h2>Total</h2> 
        <input class="total" type="text" disabled="true">  
        </div>
        <div> 
          <button class="reset">Reset</button>
        </div>
    </div>
  </main>
</body>
<script src="./main-view-index.js"></script>
<script src="./objectCreation.js"></script>
</html>