body{
  text-align: center;
  background-color: rgb(243, 239, 227); 
}

.main-container{
  display: flex;
}

.col-prd{
  margin: .2rem;
}

.prodCol {
  display: flex;
  justify-content: space-around;
}

h4 {
  font-size: 1.2rem;
}

.prd-view {
  flex-direction: row;
}

.title-product h2{
  background-color: rgb(255, 247, 0);
  border: solid black .15rem;
  border-radius: 0.4rem;
  box-shadow: black .2rem .2rem 0rem;
}

.charge-column{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  max-height: 12.5rem; 
  overflow-y: scroll;
}

.totales{
  background-color: gray;
  box-shadow: inset 0rem 0rem 0rem .25rem black ;
  box-sizing: content-box;
  text-align: center;
}
.inputs{
  width: 95.5%;
}
.form-check{
font-size: 1.25rem;
}
.form-check-input{
  border: solid black .10rem;
}
.total{
  font-size: 4rem;
  width: 8ch;
  border: solid black .15rem;
  background-color: white;
}
