body{
 background-color: rgb(243, 239, 227); 
}

.main-container{
  display: flex;
}

.col-prd{
  margin: .2rem;
}

.prodCol {
  display: flex;
  justify-content: space-around;
}

.title-product h2{
  background-color: rgb(255, 247, 0);
  border: solid black .15rem;
  border-radius: 0.4rem;
  box-shadow: black .2rem .2rem 0rem;
}

.charge-column{
  display: flex;
  flex-wrap: wrap;

  width: 100%; 
  max-height: 14.3rem; 
  overflow-y: scroll;
}
.totales{
  background-color: gray;
  border:solid black .25rem;
}